@import url("/home/alex/.cache/wal/colors-waybar.css");

* {
    font-family: Pangolin, sans-serif;
    font-size: 18px;
    background: transparent;
}

#custom-launcher,
#workspaces,
#clock,
#network,
#tray,
#pulseaudio {
    border-radius: 8px;
    padding: 4px;
    color: @color7;
    background-color: @background;
    margin: 0, 5px, 0, 5px;
}